# Ignore everything
*

# Except these:
!.gitignore
!*/                   # Folder structure
!*.dart               # Hanya file .dart saja yang diikutkan
!*/**/*.dart          # File dart dalam subfolder tetap diikutkan
